:root {
  --Dark-Forest-color: #122317;
  --Forest-Color: #003700;
  --Gold-Color: #d4af37;
  --Sage-Color: #dfe6e2;
  --Charcoal-Color: #181818;
}

/* @font-face {
  font-family: "Spectral";
  font-weight: 200;
  src: url("../fonts/spectral/spectral_otf/Spectral-ExtraLight.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-ExtraLight.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-ExtraLight.woff")
      format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-ExtraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/spectral/spectral_otf/Spectral-ExtraLightItalic.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-ExtraLightItalic.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-ExtraLightItalic.woff")
      format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-ExtraLightItalic.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 400;
  src: url("../fonts/spectral/spectral_otf/Spectral-Regular.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-Regular.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-Regular.woff") format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/spectral/spectral_otf/Spectral-Italic.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-Italic.ttf") format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-Italic.woff") format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-Italic.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 600;
  src: url("../fonts/spectral/spectral_otf/Spectral-SemiBold.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-SemiBold.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-SemiBold.woff") format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-SemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/spectral/spectral_otf/Spectral-SemiBoldItalic.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-SemiBoldItalic.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-SemiBoldItalic.woff")
      format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-SemiBoldItalic.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 800;
  src: url("../fonts/spectral/spectral_otf/Spectral-ExtraBold.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-ExtraBold.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-ExtraBold.woff")
      format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/spectral/spectral_otf/Spectral-ExtraBoldItalic.otf")
      format("opentype"),
    url("../fonts/spectral/spectral-ttf/Spectral-ExtraBoldItalic.ttf")
      format("truetype"),
    url("../fonts/spectral/spectral_woff/Spectral-ExtraBoldItalic.woff")
      format("woff"),
    url("../fonts/spectral/spectral_woff2/Spectral-ExtraBoldItalic.woff2")
      format("woff2");
}
*/
@font-face {
  font-family: "OpenDyslexic";
  font-weight: 400;
  src: url("../fonts/open_dyslexic/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/open_dyslexic/OpenDyslexic-Italic.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 600;
  src: url("../fonts/open_dyslexic/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf")
    format("opentype");
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* --------------------------------------------------   SETTINGS GENERAUX  -------------------------------------------------- */

body {
  background-color: var(--Charcoal-Color);
  /*définition des safes zones, pour les appareils avec des encart sur l'écran comme des poinçons de camera */
  padding: env(safe-area-inset-top, 20px)
    /* Validateur w3 ne le valide pas, je ne comprend pas, c'est exactement la bonne syntaxe donnée par le w3 */
    env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px)
    env(safe-area-inset-left, 20px);
}

ul li a {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Spectral";
  margin: 0;
  text-shadow: 0.5rem 0.5rem 0.2rem #000000;
}

h1 {
  color: var(--Gold-Color);
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  font-size: calc(1.5rem + 3vw);
}

h2 {
  color: var(--Gold-Color);
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  font-size: calc(1rem + 3vw);
}

p {
  font-weight: 200;
  color: var(--Sage-Color);
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1.6rem + 1vw);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--Gold-Color);
  cursor: pointer;
  display: flex;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
  min-height: 48px; /* Hauteur minimale des éléments clicables selon les guidelines Google et Apple */
}

strong {
  font-weight: 200;
  color: var(--Gold-Color);
}

button {
  cursor: pointer; /* Ajoute un pointeur au survol */
}

.Separateur {
  width: 50%;
  margin: 5dvh auto;
}

/*setup général pour tous les boutons */
.Bouton {
  background-image: url("../images/cadre_bouton_500x105.png");
  background-size: 100% 100%; /* Déforme l'image pour remplir le bouton */
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Spectral";
  font-style: italic;
  text-align: center;
  font-size: calc(1rem + 1vw);
  display: flex;
  padding: 1dvh calc(2rem + 1vw); /* contrôle l'espace intérieur */
  border: none; /* Supprime les styles par défaut */
  width: auto; /* Permet de s'adapter au contenu */
  height: auto;
  color: var(--Gold-Color);
}

.Bouton:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}

.Logo {
  transition: filter 0.2s ease-in-out;
}

.Logo:hover {
  filter: brightness(1.3);
}

input,
textarea {
  /* transition: 0.15s box-shadow ease-out; */
  will-change: box-shadow; /* à utuliser avec parcimonie, aide le navigateur à optimiser les performances si l'anim est trop gourmande en lui indiquant que l'élément va subir un changement à calculer */
}

/* Style cadre barre de recherche au focus */
input:focus,
textarea:focus {
  outline: none;
  animation: 3s shadow-pulsation ease infinite;
  /* box-shadow: 0 0 7px 0px var(--Gold-Color);  Ajoute un effet lumineux */
}

@keyframes shadow-pulsation {
  /* Animation coûteuse en ressources, peut impacter les performances du site, si trop coutêux, utiliser la simple transition mise en commentaire */
  0% {
    box-shadow: 0 0 3px 0 var(--Gold-Color);
  }

  50% {
    box-shadow: 0 0 7px 0 var(--Gold-Color);
  }

  100% {
    box-shadow: 0 0 3px 0 var(--Gold-Color);
  }
}

/* Fleche pour retourner en haut de page */
#FlecheHaut {
  width: 5%;
  min-width: 76px;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 4;
}

/* --------------------------------------------------   HEADER  -------------------------------------------------- */

header {
  padding: 2px 5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--Dark-Forest-color);
  position: fixed;
  width: 100vw;
  height: 130px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 1) 0 0.5rem 2rem 1rem;
  overflow-y: hidden; /* Empêche le scrolling inutile sur les téléphones xtra smalls (- de 608px de hauteur)*/
}

#IndexHeader {
  /*Uniquement pour le header de la page d'accueil*/
  top: -130px;
  animation: 0.7s expand-header 3s ease-out forwards; /* setup de l'animation*/
}

/*comportement de l'animation du header*/
@keyframes expand-header {
  0% {
    top: -130px;
  }
  100% {
    top: 0;
  }
}

#HeaderFlexHaut,
#HeaderFlexBas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#HeaderFlexHaut {
  height: 70px;
}

#HeaderFlexBas {
  height: 50px;
}

/* Choix de langue */
#Langues {
  color: var(--Sage-Color);
  display: flex;
  flex-direction: row;
}

header div p {
  /*Pour que le | perde aussi son ombre */
  text-shadow: none;
  font-size: 19.72px; /*Avoir une taille régulière pour le menu + largeur exactement de 80 pixels pour des questions de facilité de placement*/
  line-height: 50px;
}

.Langue {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.Langue:first-child {
  padding-right: 5px;
}

.Langue:last-child {
  padding-left: 5px;
}

/* Logo Header */
#HeaderLogo {
  width: 76px;
  height: 76px;
  background-image: url("../icons/icone_mobile_fondsombre.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Menu Burger */
.Burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  z-index: 13;
  transition: opacity 0.7s ease-out;
}

.Ligne {
  border-radius: 10px;
  width: 50px;
  height: 10px;
  margin: 0 auto;
  background: var(--Sage-Color);
  transition: transform 0.4s ease-out, width 0.4s ease-out,
    opacity 0.4s ease-out, background-color 0.2s ease-out;
}

.Burger:hover .Ligne {
  background-color: var(--Gold-Color);
}

/* animations des lignes du burger quand cliqué, gestion via js*/
.Ligne1Active {
  transform: translateY(20px) rotate(135deg);
}

.Ligne2Active {
  opacity: 1;
  width: 0;
}

.Ligne3 {
  width: 35px;
  margin: 0 0;
}

.Ligne3Active {
  transform: translateY(-20px) rotate(-135deg);
  width: 50px;
}

/* Barre de recherche + icone */
#BarreDeRecherche {
  width: 75vw;
  position: relative;
  display: flex;
  justify-content: center;
}

#BarreDeRecherche input {
  width: 100%;
  padding: 10px 40px 10px 20px; /* Ajoute de l'espace à droite pour le bouton */
  border: solid 1px var(--Gold-Color);
  border-radius: 35px;
  background-color: var(--Charcoal-Color);
  font-family: "Spectral";
  color: var(--Gold-Color);
}

#BarreDeRecherche input::placeholder {
  color: var(--Gold-Color);
  opacity: 0.3;
}

#BarreDeRecherche button {
  position: absolute;
  top: 50%; /* centrer le haut du bouton à la moitié de la hauteur du parent */
  transform: translateY(
    -50%
  ); /* déplace le bouton de la moitié de sa hauteur vers le haut, donc son centre correspond au centre du parent */
  right: 10px; /* Espace entre le bouton et le bord droit */
  background: none;
  border: none;
  width: 40px;
  height: auto;
  color: var(--Sage-Color);
}

#BarreDeRecherche button:focus {
  color: var(--Gold-Color);
}

/* Icones */
.IconesMenu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: var(--Sage-Color);
  transition: color 0.2s ease-in-out;
}

.IconesMenu:hover {
  color: var(--Gold-Color);
}

#HeaderIconeDiscord {
  display: none;
}

/* --------------------------------------------------  Menu nav détaillé - overlay  -------------------------------------------------- */
.MenuNavOverlay {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: url("../images/background_menunav_768x432.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  pointer-events: none;
}

/*Box flex logo et titre */
.MenuNavOverlay #LogoEtWordmark {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 5dvh;
}

/*Logo */
#ConteneurLogoNav {
  position: fixed; /* Position toujours au même endroit en mobile */
  top: 2px;
  margin-left: 5%;
  width: 76px;
  height: 76px;
}

#ConteneurLogoNav a {
  /*Permet de changer le logo en fonction de mobile/desktop */
  background-image: url("../icons/icone_mobile_fondsombre.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
}

/* Wordmark */
#LogoEtWordmark #Wordmark {
  margin-top: 100px;
  width: 60vw;
  height: auto;
  margin: 60px auto 0;
}

/* Menu de navigation */
.ConteneurNavLienAccueil {
  /* N'appparait qu'en format desktop, le même conteneur à droite également pour center facilement menu nav */
  display: none;
  width: 20vw;
  height: auto;
}

#NavLienAccueil {
  /* 'Accueil' en dehors du menu, à gauche */
  color: var(--Gold-Color);
  font-size: calc(1rem + 1vw);
  line-height: calc(1.5rem + 1vw);
  width: fit-content;
  align-items: baseline;
  align-self: baseline;
  margin-left: 9vw; /* Pour centrer en dessous du logo */
  transform: translateX(-50%) scale(1);
  transition: color 0.2s ease-in-out, transform 0.5s ease;
}

#NavLienAccueil:hover {
  color: var(--Sage-Color);
  transform: translateX(-50%) scale(1.2);
}

#NavLienAccueil:focus {
  animation: 0.6s zoom-scale-NavLienAccueil ease forwards;
}

@keyframes zoom-scale-NavLienAccueil {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(1.2);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(2);
  }
}

.MenuNavOverlay nav {
  display: flex;
  flex-direction: column; /* Colonne car hérite du flex row sinon */
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.MenuNavOverlay nav div {
  margin-top: 5dvh; /* Permet espacement entre les catégories */
}

.MenuNavOverlay nav div a {
  color: var(--Sage-Color);
  font-size: calc(1rem + 2vw);
  line-height: calc(2rem + 2vw);
  transition: color 0.2s ease-in-out, transform 0.5s ease;
  min-height: 0;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.MenuNavOverlay nav div a:hover {
  color: var(--Gold-Color);
  transform: scale(1.3);
}

.MenuNavOverlay nav div a:focus {
  animation: zoom-scale 0.6s ease forwards;
}

.MenuNavOverlay nav div a:first-child {
  /* Titres catégories */
  color: var(--Gold-Color);
  font-size: calc(1.5rem + 2vw);
  line-height: calc(2rem + 2vw);
  transition: color 0.2s ease-in-out, transform 0.5s ease;
}

.MenuNavOverlay nav div a:first-child:hover {
  color: var(--Sage-Color);
  transform: scale(1.2);
}

/* Liens légaux */
/* Héritage de .LienLegaux dans partie Footer */
#HeaderLiensLegaux {
  margin-top: 10dvh;
}

#HeaderDiscordEtCookies {
  padding-bottom: 3dvh;
}

/*--------------------------------------------------  FOOTER  -------------------------------------------------- */

footer {
  position: relative;
  border-top: solid 4px var(--Gold-Color);
  background-color: var(--Dark-Forest-color);
  padding: 5dvh 5% 3dvh;
}

footer nav {
  display: none; /*Menu de nav n'apparaît pas sur petit écran */
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5dvh;
  padding: 0 5%;
}

footer nav div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer nav div a:first-child {
  color: var(--Gold-Color);
  font-size: calc(0.5rem + 1.5vw);
  line-height: calc(0.8rem + 1.5vw);
  transition: color 0.2s ease-in-out;
}

footer nav div a:first-child:hover {
  color: var(--Sage-Color);
}

footer nav div a {
  color: var(--Sage-Color);
  font-size: calc(0.3rem + 1vw);
  line-height: calc(0.5rem + 1vw);
  transition: color 0.2s ease-in-out;
}

footer nav div a:hover {
  color: var(--Gold-Color);
}

footer nav img {
  width: auto;
  height: 15dvh;
}

.LiensLegaux {
  color: var(--Gold-Color);
  display: flex;
  flex-direction: column; /*Doit être en colonnes car les span laisse sur la même ligne */
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 48px; /* 48px pour que les icones discord et cookie soient toujours en dessous quel que soit la taille de l'écran */
  font-size: calc(0.5rem + 1vw);
}

.LiensLegaux a {
  transition: color 0.2s ease-in-out;
  text-align: center;
}

.LiensLegaux a:hover {
  color: var(--Sage-Color);
}

.LiensLegaux span {
  display: none;
  align-items: center; /* Centre le texte verticalement */
  justify-content: center; /* Centre le texte horizontalement */
}

.DiscordEtCookies {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* position: absolute; */
  /* bottom: 2dvh; */
  /* right: 50%; */
  /* transform: translateX(50%); */
  justify-content: center;
}

.DiscordEtCookies img,
.DiscordEtCookies svg {
  height: calc(1rem + 2vw);
  min-height: 48px;
  margin-left: 20px;
  transition: filter 0.2s ease-in-out, color 0.2s ease-in-out;
  color: var(--Gold-Color);
  cursor: pointer;
}

.DiscordEtCookies svg:hover {
  color: var(--Sage-Color);
}

.DiscordEtCookies img:hover {
  filter: brightness(1.3);
}

/* --------------------------------------------------  BODY  -------------------------------------------------- */

/* Avoir des titres masqués, pour le SEO*/
.TitreMasque {
  display: none;
}

/* --------------------------------------------------  PAGE INDEX  -------------------------------------------------- */

/* SECTION ACCUEIL */

#IndexSectionAccueil {
  height: calc(100dvh - 130px);
  width: 100%;
  margin-top: 130px;
  overflow: hidden; /*pour que le background ne dépasse pas le temps de l'animation */
}

/*bg séparé pour pouvoir l'animer indépendament */
#IndexSectionAccueil div {
  background-image: linear-gradient(
      0deg,
      var(--Charcoal-Color) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/background_accueil_768x465.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Pour que le fond reste toujours derrière le contenu */
  transform: scale(1.2);
  animation: 2s dézoom 1s ease-in-out forwards; /* setup de l'animation*/
}

/*comportement de l'animation*/
@keyframes dézoom {
  0% {
    transform: scale(1.2); /* Départ avec un zoom avant */
  }
  100% {
    transform: scale(1); /* Retour à la taille normale */
  }
}

/* logo */
#IndexSectionAccueil img {
  margin: 5dvh auto;
  max-width: 75%;
  max-height: 30dvh;
  /* filter: drop-shadow(10px 10px 2px #000000); */
  animation: 2s opacite 0s ease-out forwards; /* setup de l'animation*/
}

@keyframes opacite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#IndexSectionAccueil nav {
  max-height: 30dvh;
  width: 75%;
  margin: auto auto;
}

#IndexSectionAccueil nav ul {
  position: relative; /* Pour permettre au texte caché de se positionner en fonction du menu */
}

/* setup de l'animation du menu de nav*/
#IndexSectionAccueil li {
  font-size: 0px;
  opacity: 0;
  animation: 1s expand-nav 1s ease forwards;
}

/*comportement de l'animation du menu nav*/
@keyframes expand-nav {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    font-size: 26px;
    opacity: 1;
  }
}

#IndexSectionAccueil li a {
  color: var(--Sage-Color);
  transition: color 0.2s ease-in-out, transform 0.5s ease;
}

#IndexSectionAccueil li a:hover {
  color: var(--Gold-Color);
  transform: scale(1.3);
}

#IndexSectionAccueil li a:focus {
  animation: 0.6s zoom-scale ease forwards;
}

@keyframes zoom-scale {
  0% {
    opacity: 1;
    transform: scale(1.3);
  }
  99% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#IndexSectionAccueil hr {
  background-color: var(--Gold-Color);
  height: 1px;
  width: 0; /* longueur avant animation */
  box-shadow: 0.5rem 0.5rem 0.1rem #000000;
  border: none;
  animation: 1.5s expand-line 1s ease-in-out forwards; /* setup de l'animation*/
  /*durée, nom, délais, type*/
}

/*comportement de l'animation des bordures du menu nav*/
@keyframes expand-line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#IndexSectionAccueil p {
  color: var(--Sage-Color);
  align-content: center;
  position: absolute;
  top: 31dvh; /* Pour qu'il se place au minimum juste en dessous de la bordure du menu nav */
  left: 0;
  z-index: 2;
  font-size: 18px;
  line-height: 1.2rem;
  width: 100%;
  height: auto;
  opacity: 0; /* Paragraphe masqué au départ */
  transition: opacity 0.5s ease-in-out; /* Set de la transition */
  pointer-events: none; /*désactive le changement de curseur quand on passe la souris sur le paragraphe masqué */
}

/* Affichage du paragraphe au survol et au clic avec transition douce*/
#NavApropos:hover ~ #TexteApropos,
#NavUnivers:hover ~ #TexteUnivers,
#NavRomans:hover ~ #TexteRomans,
#NavJDR:hover ~ #TexteJDR {
  display: block;
  opacity: 1;
}

/* Barre qui clignotte en bas de la première section de l'index */
#BarreClignottante {
  z-index: 4;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5dvh;
  pointer-events: none;
  background: linear-gradient(transparent 0%, var(--Sage-Color) 500%);
  opacity: 0;
  animation: clignottement 2s infinite; /* Animation infinie */
  transition: opacity 0.5s ease; /* Transition fluide */
}

/* Animation du clignotement */
@keyframes clignottement {
  0%,
  100% {
    opacity: 1; /* Visible au début et à la fin */
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes arretClignottement {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Section Univers */

#SectionUnivers {
  padding-top: 15dvh;
}

#SectionUnivers > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin: 0 12.5%;
}

#SectionUnivers > div > div {
  position: relative;
  width: 100%; /* largeur corrigée, prenant en compte la taille de l'ombre */
  aspect-ratio: 3 / 2; /* conserver les proportions de l'image quoiqu'il arrive*/
  box-shadow: inset 0 0 3.75dvh 5vw var(--Charcoal-Color); /*valeurs en dvh et vw pour conserver le comportement de l'ombre quel que soit la taille de l'écran */
  border-radius: 50%;
  background-image: url("../images/groupe_aventuriers_768x512.jpg");
  background-size: cover;
  background-position: center;
  margin: 5dvh 0 0;
}

/*Corrige l'artéfact de rendu entre le bord de la div et le début de l'ombre*/
#SectionUnivers > div > div:before {
  content: "";
  position: absolute;
  top: -2px; /* position de la bordure vis-à-vis de la div qui contient l'image */
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 5px solid var(--Charcoal-Color);
}

#SectionUnivers p {
  align-content: center;
  margin: 5dvh 0 0;
}

#BoutonUnivers {
  margin: 5dvh auto 0;
}

/* Section adaptations */

#SectionAdaptations {
  align-items: center;
  margin-bottom: 20dvh;
}

#SectionAdaptations > div {
  margin: 0 12.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#SectionAdaptations > div > div {
  margin-top: 5dvh;
}

#SectionAdaptations > div > div > div {
  position: relative;
}

#SectionAdaptations > div > div > div:after {
  /*correction de l'artefact visuel (espace d'1 pixel entre vidéo et bordure sur chrome) */
  content: "";
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0; /* position de la bordure vis-à-vis de la div qui contient l'image */
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid var(--Gold-Color);
  pointer-events: none; /* pour éviter que ça empeche de cliquer sur la vidéo */
}

video {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Icone de son dans vidéo */
video ~ div {
  visibility: hidden;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.SonOn {
  background-image: url("../icons/speaker.svg");
}

.SonOff {
  background-image: url("../icons/speaker-off.svg");
}

#BoutonRomans,
#BoutonJDR {
  margin: 3dvh auto 0;
}

/* --------------------------------------------------  Page Univers  -------------------------------------------------- */

/* Section Intro */

#SectionIntro {
  min-height: calc(100dvh - 130px);
  width: 100%;
  margin-top: 130px; /* position juste en dessous du header */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*bg séparé pour pouvoir l'animer indépendament */
#SectionIntro div {
  background-image: linear-gradient(
      0deg,
      var(--Charcoal-Color) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../images/background_univers_768x768.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 130px;
  width: 100%;
  height: calc(100dvh - 130px);
  z-index: -1; /* Pour que le fond reste toujours derrière le contenu */
  animation: dézoom 3s ease-in-out; /* setup de l'animation*/
  overflow: hidden;
}

#SectionIntro p {
  padding-top: 10dvh; /*pour que le texte ne soit jamais trop haut quand l'écran est petit*/
  padding-bottom: 10dvh; /*mais reste quand même toujours centré */
  color: var(--Gold-Color);
  width: 75%;
}

#SectionIntro p strong {
  color: var(--Sage-Color);
}

/* Section Le Flux */
#SectionFlux {
  padding-top: 15dvh;
}

#SectionFlux > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin: 5dvh 12.5% 0;
}

#SectionFlux img {
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;
}

#SectionFlux > div > p {
  justify-self: center;
  align-content: center;
}

#BoutonFlux {
  margin: 5dvh auto 0;
}

/* section carte */
#SectionCarte {
  margin-top: 15dvh;
}

#SectionCarte > div {
  /* tous les éléments qui apparaissent par dessus la carte */
  position: relative; /* pour setup les positions des pins (pos absolue) dans la section */
  border-top: solid 4px var(--Gold-Color);
  border-bottom: solid 4px var(--Gold-Color);
  width: 100%;
  margin: 5dvh auto 0;
}

#SectionCarte > div > img:last-of-type {
  /* Toute dernière image enfant de #SectionCarte */
  width: 100%;
  height: auto;
}

.Ombre {
  position: absolute;
  top: 130%;
  left: 30%;
  width: 50px;
  height: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour la transformation */
  transform: rotate(30deg);
  opacity: 0.5;
}

.Pin {
  position: absolute;
  width: 6%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: bottom left;
  z-index: 2;
}

.Pin:hover {
  transform: scale(0.9);
  transform-origin: bottom left;
}

.Pin:hover .Ombre {
  transform: translate(-20%, -20%) rotate(30deg);
  opacity: 0.9;
}

#PinHelrun {
  top: 10.5%;
  left: 52.9%;
}

#PinArminia {
  top: 41.5%;
  left: 24.95%;
}

#PinCastelbeau {
  top: 30.95%;
  left: 54.1%;
}

#PinNephilopolis {
  top: 55.2%;
  left: 71.8%;
}

#PinPriscol {
  top: 22%;
  left: 92.9%;
}

.PopupCarte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Forest-Color);
  border: solid 4px var(--Gold-Color);
  border-radius: 30px;
  width: 75%;
  height: fit-content; /*hauteur de la popup s'adapte au contenu */
  max-height: 60dvh; /* pour ne pas que la popup sorte du cadre de l'écran */
  max-width: 475px; /* pour que la popuup garde une forme convenable sur écran de telephones larges ou tablette */
  overflow: scroll; /*si le texte est trop long */
  text-align: justify;
  text-align-last: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 25dvh auto auto; /* Placé toujours à la même hauteur sur l'écran */
  padding: 30px 50px;
  z-index: 3;
  scrollbar-width: none; /* Masque les scroll-bars dans Firefox */
  transition: opacity 0.4s ease-in-out;
}

/* Masque les scroll-bars pour les navigateurs basés sur WebKit (Chrome, Safari, Edge)  */
.PopupCarte:-webkit-scrollbar {
  display: none;
}

.PopupCarte .Croix {
  margin: -10px -30px 0 auto;
  width: 5%;
  height: auto;
  min-width: 30px;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

.PopupCarte .Croix:hover {
  filter: brightness(4);
}

.PopupCarte .IllustrationPopup {
  width: 80%;
  margin: 0 auto;
  border: 4px solid var(--Gold-Color);
}

.PopupCarte h3 {
  margin: 25px auto;
  width: 100%;
  color: var(--Gold-Color);
  text-shadow: none;
  font-size: calc(0.2rem + 6.3vw);
  line-height: 2rem;
  overflow-x: visible;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.PopupCarte p {
  margin: 0 auto 10px;
  font-size: 1rem;
  line-height: 1.2rem;
  text-shadow: none;
  hyphens: auto; /* autorise les césures pour haromoniser l'aspect du texte */
  color: var(--Gold-Color);
}

.PopupCarte strong {
  color: var(--Sage-Color);
}

.PopupCarte a {
  color: var(--Sage-Color);
  text-decoration: underline;
  font-style: italic;
  text-align-last: right;
  margin: 0 auto;
  transition: color 0.2s ease-in-out;
}

.PopupCarte a:hover {
  /* change couleur du lien au clic et sorvol */
  color: var(--Gold-Color);
}

/* Section Cartes Flip */

#SectionFlip {
  margin-bottom: 20dvh;
}

#BoiteFlip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 10%;
}

.CarteConteneur {
  position: relative;
  min-width: 250px; /*largeur des cartes */
  min-height: 384px; /*hauteur des cartes (ratio format carte de bridge) */
  perspective: 1000px; /* pour créer effet 3D sur les éléments enfants, la valeur représente une profondeur entre le plan de projection et l'oeil (ou l'écran) */
  perspective-origin: center; /*définit le point d'origine de la perspective, d'où l'utilsaiteur regarde le plan) */
  margin: 5dvh 3%;
}

.CarteConteneur:hover .CarteFlip,
.CarteConteneur:focus .CarteFlip {
  transform: rotateY(
    180deg
  ); /*l'effet de trasformation qu'on applique, ici rotation de 180degrés sur l'axe Y */
}

.CarteFlip {
  position: relative;
  height: 100%;
  transform-style: preserve-3d; /* les cartes sont transformées sur un plan 3D, car par défaut les enfants de l'élement transformé sont projetés dans un plan 2D */
  transition: transform 0.8s cubic-bezier(0.06, 0, 0.07, 1); /*vitesse et paramètres de transition */
}

.Back,
.Front {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  backface-visibility: hidden; /*pour cacher l'autre face */
  -webkit-backface-visibility: hidden; /*pour que ça focntionne sur chrome et safari*/
  align-content: center;
}

.Back {
  border: solid 4px var(--Gold-Color);
  background-color: var(--Forest-Color);
}

.Front {
  border: solid 4px var(--Forest-Color);
  background-color: var(--Gold-Color);
  color: var(--Forest-Color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotateY(180deg);
}

.Front h2,
.Front p,
.Front a {
  text-shadow: none;
  color: var(--Forest-Color);
}

.Front h2 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.Front p,
.Front a {
  font-size: 1rem;
  line-height: 1.2rem;
}

.Front a {
  text-decoration: underline;
  font-style: italic;
  padding-top: 3%;
  margin: 0 auto;
  transition: color 0.2s ease-in-out;
}

.Front a:hover {
  color: var(--Sage-Color);
}

.IconeFlip {
  height: 25%;
  margin: auto auto;
}
/* --------------------------------------------------  PAGE A PROPOS -------------------------------------------------*/
#TitrePageApropos {
  margin-top: calc(5dvh + 130px);
  margin-bottom: 5dvh;
}

.SectionsPageAPropos > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin: 2dvh 12.5% 0;
}

.SectionsPageAPropos img {
  justify-self: center;
  align-self: center;
}

.SectionsPageAPropos > div > p {
  justify-self: center;
}

.SectionsPageAPropos h2 {
  padding-top: 5dvh;
}

#NavigationAuteur {
  height: 10dvh;
}

.SectionsPageAPropos ~ .Separateur {
  margin: 0 auto 5dvh;
}

#SectionPageApropos2 {
  padding-bottom: 10dvh;
}

#SectionPageApropos2 img {
  padding-bottom: 5vw;
}

/* --------------------------------------------------  PAGE CONTACT -------------------------------------------------*/

#CorpsPageContact {
  margin: 0 5%;
}

#TitrePageContact {
  padding-top: calc(1dvh + 130px);
}

#CorpsPageContact p {
  margin-bottom: 2dvh;
}

#CorpsPageContact p a {
  display: inline;
}

#CorpsPageContact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CorpsPageContact label {
  font-family: "Spectral";
  display: inline;
  color: var(--Gold-Color);
  font-weight: 200;
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1.6rem + 1vw);
}

#CorpsPageContact input,
textarea {
  width: 100%;
  font-family: "Spectral";
  font-weight: 200;
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1.6rem + 1vw);
  color: var(--Forest-Color);
  background-color: var(--Sage-Color);
  margin-bottom: 2dvh;
  border: solid 3px var(--Gold-Color);
}

#CorpsPageContact textarea {
  height: 30dvh;
}

#CorpsPageContact textarea::placeholder,
#CorpsPageContact input::placeholder {
  color: var(--Forest-Color);
  opacity: 20%;
}

#CorpsPageContact button {
  margin-bottom: 10dvh;
}

/* --------------------------------------------------  PAGE FLUX - PAGE HISTOIRE -------------------------------------------------*/

#TitrePageFlux,
#TitrePageHistoire {
  padding-top: calc(5dvh + 130px);
}

.SectionsPageFlux > div,
.SectionsPageHistoire > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2dvh 12.5% 0;
}

.SectionsPageFlux img,
.SectionsPageHistoire img {
  justify-self: center;
  align-self: center;
}

.SectionsPageHistoire img {
  justify-self: center;
  align-self: center;
}

.SectionsPageFlux p,
.SectionsPageHistoire p {
  justify-self: center;
  align-content: center;
  width: 75vw;
}

.SectionsPageFlux h2 ~ div > img,
.SectionsPageHistoire img {
  border: solid 4px var(--Gold-Color);
  width: 70%;
  margin: 0 auto 2dvh;
}

.SectionsPageFlux h2,
.SectionsPageHistoire h2 {
  margin-top: 5dvh;
}

.SectionsPageFlux h2 ~ p,
.SectionsPageHistoire h2 ~ p {
  margin-bottom: 15dvh;
}

/* --------------------------------------------------  PAGES PERSONNAGES, CULTURES, GEOGRAPHIE -------------------------------------------------*/

.SectionCarousel {
  padding-top: 150px;
}

/* classe qui s'active en js pour rendre la police dyslexique sur l'alphabet et le carrousel */
.DyslexiqueActive {
  font-family: "OpenDyslexic" !important;
}

/* alphabet */
#Alphabet {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 5%;
  flex-wrap: wrap;
}

#Alphabet button {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--Sage-Color);
  cursor: pointer;
  font-family: "Spectral";
}

#Alphabet button.active {
  color: var(--Gold-Color);
  font-weight: bold;
}

/* Carrousel */

#CarouselConteneur {
  display: flex;
  flex-direction: row;
  position: relative; /* pour que les omnbres sur le côté prennent bien la hautuer du carousel */
}

#CarouselConteneur > img {
  width: 10%;
  height: 10%;
  margin: auto 0;
  cursor: pointer;
}

/* Ombre sur les côtés du carousel */
#CarouselConteneur::before,
#CarouselConteneur::after {
  content: "";
  position: absolute;
  width: 25vw; /* Largeur de l'effet d'ombre */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#CarouselConteneur::before {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--Charcoal-Color) 40%,
    transparent 100%
  );
}

#CarouselConteneur::after {
  right: 0;
  background: linear-gradient(
    -90deg,
    var(--Charcoal-Color) 40%,
    transparent 100%
  );
}

#Carousel {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
  overflow-x: scroll;
  width: 80%;
  margin: 0 auto;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: var(--Gold-Color) transparent;
}

.Cartouche {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: var(--Forest-Color);
  border: 2px solid var(--Gold-Color);
  border-radius: 10px;
  margin: 1%;
  cursor: pointer;
  min-width: 36vw; /*largeur des cartes */
}

.CartoucheFlex {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Occupe l'espace restant entre l'image et le bas du cartouche */
  justify-content: space-between;
}

.Cartouche h3 {
  margin: 5px auto;
  width: 90%;
  color: var(--Gold-Color);
  text-shadow: none;
  font-size: 20px;
  line-height: 2rem;
}

.Cartouche img {
  width: 80%;
  border: solid 2px var(--Gold-Color);
  margin: 5% auto 0;
}

.Cartouche p,
.Cartouche button {
  text-shadow: none;
  color: var(--Forest-Color);
  margin: 0 auto;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: var(--Sage-Color);
  width: 80%;
  font-style: italic;
}

.Cartouche button {
  text-decoration: underline;
  padding-top: 3%;
  margin: 0 auto;
  transition: color 0.2s ease-in-out;
  background: none;
  border: none;
  color: var(--Gold-Color);
  margin-bottom: 5%;
  font-family: "Spectral";
}

.Cartouche button:hover {
  color: var(--Sage-Color);
}

#FlecheGauche,
#FlecheDroite {
  z-index: 3;
}

.Separateur2 {
  background-color: var(--Gold-Color);
  height: 1px;
  width: 50%;
  margin: 5dvh auto;
  border: none;
}

/* Section Article */
.SectionArticle {
  margin-bottom: 10dvh;
}

.SectionArticle > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin: 2dvh 12.5% 0;
}

.SectionArticle img {
  justify-self: center;
  align-self: first baseline;
  width: 70%;
}

.SectionArticle > div > p {
  justify-self: center;
  align-content: center;
}

#ArticleImage {
  margin-bottom: 2dvh;
}

/* --------------------------------------------------------  PAGES LEGALES -----------------------------------*/

.PagesLegales {
  width: 80vw;
  margin: 150px auto 0;
}

.PagesLegales h1 {
  font-size: calc(1.2rem + 2vw);
}

.PagesLegales h2 {
  font-size: calc(1rem + 2vw);
}

.PagesLegales h2,
.PagesLegales p {
  text-align: left;
  margin: 0 0 3dvh 0;
}

.PagesLegales ul {
  font-weight: 200;
  color: var(--Sage-Color);
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1.6rem + 1vw);
  text-align: left;
  list-style: disc;
  margin-left: 5vw;
}

.PagesLegales a {
  text-decoration: underline;
  display: inline-block;
  text-shadow: none;
}

/* --------------------------------------------------  RESPONSIVE  -------------------------------------------------- */

@media screen and (min-width: 768px) {
  /* Header */
  header {
    height: 100px;
    padding: 0 0;
    flex-wrap: nowrap;
    overflow: visible;
  }

  #IndexHeader {
    /*Uniquement pour le header de la page d'accueil*/
    top: -100px;
  }

  /*comportement de l'animation du header*/
  @keyframes expand-header {
    0% {
      top: -100px;
    }
    100% {
      top: 0px;
    }
  }

  #HeaderFlexHaut,
  #HeaderFlexBas {
    display: inline-block;
    position: absolute;
    height: 70px;
    width: 100vw;
    padding: 0 0;
    margin: 0 0;
  }

  #HeaderLogo {
    position: absolute;
    left: 3%;
    top: 35px;
    transform: translateY(-50%);
    background-image: url("../images/logo_wordmark_blanc.svg");
    background-position: center;
    width: 300px;
    z-index: 11;
  }

  #BarreDeRecherche {
    position: absolute;
    left: calc(3% + 320px); /* Marge après le logo */
    right: calc(
      3% + 290px
    ); /* Marge avant les icônes, pour que la barre s'adapte toujours à l'espace disponible entre les éléments à gauche et à droite */
    top: 35px;
    transform: translateY(-50%);
    width: auto;
    z-index: 11;
  }

  #IconeAccessibilite {
    position: absolute;
    right: calc(3% + 220px);
    top: 35px;
    transform: translateY(-50%);
    z-index: 11;
  }

  #Langues {
    position: absolute;
    right: calc(3% + 130px);
    top: 35px;
    transform: translateY(-50%);
    z-index: 11;
  }

  #HeaderIconeDiscord {
    display: block;
    position: absolute;
    right: calc(3% + 65px);
    top: 35px;
    transform: translateY(-50%);
    z-index: 11;
  }

  .Burger {
    position: absolute;
    right: 3%;
    top: 35px;
    transform: translateY(-50%);
  }

  /* Menu de navigation du menu burger */

  #ConteneurLogoNav {
    position: relative;
    display: flex;
    margin-left: 3vw;
    width: 27vw; /* 1/3 de l'écran en comptant la marge */
    height: auto;
  }

  #ConteneurLogoNav a {
    background-image: url("../icons/logo.svg");
    width: 11.7vw; /* pour conserver le même ratio de hauteur que prendra le wordmark*/
    height: 11.7vw;
  }

  #LogoEtWordmark #Wordmark {
    margin-top: 0;
    width: 40vw;
    margin: 0 0;
  }

  .MenuNavOverlay .Burger {
    /* Même place que sur le header */
    right: 3%;
    top: 35px;
    transform: translateY(-50%);
  }

  .ConteneurNavLienAccueil {
    /* S'affiche en desktop */
    display: block;
  }

  #ConteneurNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .MenuNavOverlay nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 0;
    width: 60vw;
  }

  .MenuNavOverlay nav div {
    width: 25vw;
    height: fit-content;
  }

  .MenuNavOverlay nav div:nth-child(1) {
    order: 1;
    margin-top: 0;
  }

  .MenuNavOverlay nav div:nth-child(2) {
    order: 3;
  }

  .MenuNavOverlay nav div:nth-of-type(3) {
    order: 2;
    margin-top: 0;
  }

  .MenuNavOverlay nav div:nth-of-type(4) {
    order: 4;
  }

  .MenuNavOverlay nav div a {
    font-size: calc(0.5rem + 1vw);
    line-height: calc(1.3rem + 1vw);
  }

  .MenuNavOverlay nav div a:first-child {
    font-size: calc(1rem + 1vw);
    line-height: calc(1.5rem + 1vw);
  }

  #HeaderLiensLegaux {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2dvh;
  }

  #HeaderDiscordEtCookies {
    padding-bottom: 0;
    position: fixed;
  }

  /* Footer */

  footer nav {
    display: flex; /*Menu de nav s'affiche pour grands écrans */
    margin-bottom: 0;
  }

  .LiensLegaux {
    flex-direction: row; /*Liens passent en ligne pour grands écrans */
    transform: translateX(
      -2.55%
    ); /*ajuste la position horizontale pour sentiment de symétrie */
    margin: auto auto;
    width: 50%;
    font-size: calc(0.1rem + 1vw);
    align-items: end;
  }

  .LiensLegaux span {
    display: flex;
  }

  .LiensLegaux a {
    align-items: end;
  }

  .DiscordEtCookies {
    right: 10%;
    transform: none;
    position: absolute;
    bottom: 2dvh;
  }

  .DiscordEtCookies {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* position: absolute; */
    /* bottom: 2dvh; */
    /* right: 50%; */
    /* transform: translateX(50%); */
    /* justify-content: center; */
  }

  /* Page d'Acceuil */

  /*Section Accueil */

  #IndexSectionAccueil {
    height: calc(100dvh - 100px); /* Hauteur totale - la hauteur du header */
    margin-top: 100px;
  }

  #IndexSectionAccueil nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #IndexSectionAccueil p {
    top: calc(
      10dvh + 3vw
    ); /* Pour qu'il se place au minimum juste en dessous de la bordure du menu nav */
    font-size: calc(0.8rem + 1vw);
    line-height: calc(1.6rem + 1vw);
  }

  /* Section univers */

  #SectionUnivers > div {
    margin: 0 5%;
  }

  #SectionUnivers > div > div {
    width: 40%;
  }

  #SectionUnivers p {
    width: 60%;
    text-align: left;
  }

  #BoutonUnivers {
    margin: 1.5rem 5% 0 auto;
  }

  /* Section adaptations */

  #SectionAdaptations > div {
    margin: 0 5%;
  }

  #SectionAdaptations > div > div {
    width: 45%;
  }

  /* Page univers */

  /* Section Intro */

  #SectionIntro {
    min-height: calc(100dvh - 100px); /* position juste en dessous du header */
    margin-top: 100px;
  }

  #SectionIntro div {
    top: 100px;
  }

  /* Section Flux */

  #SectionFlux > div {
    margin: 5dvh 5% 0;
  }

  #SectionFlux img {
    width: 40%;
  }

  #SectionFlux > div > p {
    width: 60%;
    text-align: left;
  }

  #BoutonFlux {
    margin: 1.5rem 5% 0 auto;
  }

  /* Section mappemonde */
  #SectionCarte > div {
    width: 80%;
    border: solid 4px var(--Gold-Color);
  }

  .PopupCarte {
    width: 30%;
    min-width: 500px; /* pour pas être trop étroit en format tablette */
    max-height: 70dvh; /* Pour ne pas sortir du cadre de l'écran */
  }

  .PopupCarte .IllustrationPopup {
    width: 60%;
  }

  .PopupCarte h3 {
    font-size: 3rem;
  }

  /* Page a propos */
  #TitreGenese {
    margin-left: 40vw;
    text-align: left;
  }

  .SectionsPageAPropos > div {
    margin: 2dvh 5% 0;
  }

  .SectionsPageAPropos img {
    width: 40%;
  }

  .SectionsPageAPropos > div > p {
    width: 60%;
    text-align: left;
  }

  #SectionPageApropos2 {
    order: 1;
  }

  #SectionPageApropos2 div img {
    order: 2;
    padding-bottom: 0;
    padding-left: 30px;
  }

  #SectionPageApropos2 h2 {
    text-align: left;
  }

  /*Page Flux */

  .SectionsPageFlux > div,
  .SectionsPageHistoire > div {
    margin: 2dvh 5% 0;
    text-align: left;
  }

  .SectionsPageFlux img {
    width: 40%;
  }

  .SectionsPageHistoire img {
    width: 35%;
  }

  .SectionsPageFlux h2,
  .SectionsPageHistoire h2 {
    text-align: left;
  }

  .SectionsPageFlux h2 ~ div > img,
  .SectionsPageHistoire h2 ~ div > img {
    width: 35%;
    order: 2;
  }

  .SectionsPageFlux p,
  .SectionsPageHistoire p {
    width: 60%;
    text-align: left;
  }

  .SectionsPageFlux h2 ~ p,
  .SectionsPageHistoire h2 ~ p {
    width: 90%;
    text-align: left;
  }

  /*Page contact */

  #CorpsPageContact form {
    margin: 0 auto;
    width: 700px;
  }

  #TitrePageContact {
    padding-top: calc(2dvh + 100px);
  }

  #CorpsPageContact label {
    align-self: flex-start;
  }

  /* Pages Carrousel */
  .Cartouche {
    border: 3px solid var(--Gold-Color);
    margin: 10px;
    min-width: 250px; /*largeur des cartes */
    min-height: 384px;
  }

  .Cartouche h3 {
    margin: 10px auto;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .Cartouche img {
    border: solid 4px var(--Gold-Color);
  }

  .Cartouche p,
  .Cartouche button {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .SectionArticle > div {
    margin: 2dvh 5% 0;
  }

  .SectionArticle img {
    margin: 0 auto;
    width: 30%;
  }

  .SectionArticle > div > p {
    width: 60%;
    text-align: left;
    align-content: first baseline;
  }

  #ArticleImage {
    margin-bottom: 0;
  }
}

/* Tailles des images pour écrans entre 769px et 992px */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .MenuNavOverlay {
    background: url("../images/background_menunav_992x558.jpg");
    background-size: cover;
  }

  #IndexSectionAccueil div {
    background-image: linear-gradient(
        0deg,
        var(--Charcoal-Color) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../images/background_accueil_992x601.jpg");
  }

  #SectionUnivers > div > div {
    background-image: url("../images/groupe_aventuriers_992x661.jpg");
  }

  #SectionIntro div {
    background-image: linear-gradient(
        0deg,
        var(--Charcoal-Color) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../images/background_univers_992x992.jpg");
  }
}

/* Tailles des images pour écrans entre 993px et 1200px */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .MenuNavOverlay {
    background: url("../images/background_menunav_1200x675.jpg");
    background-size: cover;
  }

  #IndexSectionAccueil div {
    background-image: linear-gradient(
        0deg,
        var(--Charcoal-Color) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../images/background_accueil_1200x727.jpg");
  }

  #SectionUnivers > div > div {
    background-image: url("../images/groupe_aventuriers_1200x800.jpg");
  }
}

/* Tailles des images pour écrans entre 993px et au dessus */
@media screen and (min-width: 993px) {
  #SectionIntro div {
    background-image: linear-gradient(
        0deg,
        var(--Charcoal-Color) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../images/background_univers_1024x1024.jpg");
  }
}

/* Tailles des images pour écrans entre 1201px et au dessus */
@media screen and (min-width: 1201px) {
  .MenuNavOverlay {
    background: url("../images/background_menunav_1920x1080.jpg");
    background-size: cover;
  }

  #IndexSectionAccueil div {
    background-image: linear-gradient(
        0deg,
        var(--Charcoal-Color) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url("../images/background_accueil_2558x1550.jpg");
  }

  #SectionUnivers > div > div {
    background-image: url("../images/groupe_aventuriers_1380x920.jpg");
  }
}

/* --------- Classes JS (en bas du css pour priorité la plus élevée) ---------*/

/* Gestion des ouverture et fermetures des overlays */
.hidden {
  opacity: 0; /* invisible par défaut */
  pointer-events: none;
}

.active {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  pointer-events: visible;
}

#RechercheResultats {
  opacity: 0;
  width: 75%;
  padding: 10px 40px 10px 20px;
  border: solid 1px var(--Gold-Color);
  border-radius: 10px;
  background-color: var(--Charcoal-Color);
  color: var(--Gold-Color);
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
  position: fixed;
  top: 130px;
  z-index: 5;
  scrollbar-width: thin;
  scrollbar-color: var(--Gold-Color) transparent;
}

.resultat-item {
  padding: 10px;
  border-bottom: 1px solid var(--Gold-Color);
}

.resultat-item:hover {
  filter: brightness(1.4);
}

.resultat-item p {
  line-height: 20px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  #RechercheResultats {
    width: 100%;
    max-height: 30dvh;
    position: fixed;
    top: 46px;
  }
}

/* ////////////////////////////////////////////// */
/* style pour API D&D, à supprimer dans le futur */
/* //////////////////////////////////////////// */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
}
.list li {
  list-style: none;
  border-bottom: solid 4px var(--Gold-Color);
  margin: 4dvh auto;
  width: 35vw;
  min-width: 307px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.list h3 {
  font-size: calc(1rem + 3vw);
  color: var(--Gold-Color);
  flex-grow: 1;
  align-content: end;
}

.list img {
  border: solid 4px var(--Gold-Color);
  margin: 0 auto 2dvh;
  width: 90%;
}
