:root {
  --gold: rgb(241, 179, 8);
}

@font-face {
  font-family: "retroFont";
  font-weight: normal;
  src: url("../fonts/retroFont.ttf") format("truetype");
}

@font-face {
  font-family: "Ravenwood";
  font-weight: normal;
  src: url("../fonts/Ravenwood.otf") format("opentype");
}

/* --------------------------------------------------  RESET CSS  --------------------------------------------------*/

/* enlever les marges naturelles + reset du body/html */
html,
body,
header {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
  /* background: url(../img/1191700-wood-textures-wood-texture-texture-abstract-hd.jpg); */
  background-size: cover;
}

/* tous les élements, et pseudo-éléments héritent de la valeur de box-sizing du parent */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* enlever le style des listes */
ul,
ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* corriger l’affichage des images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* -------------------------------------- SETTINGS GEENRAUX ------------------------------- */
h2 {
  color: var(--gold);
  font-family: Ravenwood;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

a {
  color: beige;
  text-decoration: none;
}

button {
  color: beige;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-size: 0.8rem;
}

.menuLink {
  text-align: center;
  font-family: retroFont;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1vh auto;
}

.menuLink:hover {
  color: var(--gold);
}

.legals {
  margin: 6vh auto 1vh auto;
  font-size: 0.7rem;
  cursor: pointer;
  color: var(--gold);
}

.legals:hover {
  color: beige;
}

.linkTextBox {
  color: var(--gold);
}

.linkTextBox:hover {
  color: beige;
}

.textHidden {
  display: none;
}
/* ------------------------------ FOND DU SITE DESKTOP -------------------------- */

.blur-background {
  position: fixed;
  top: -40px;
  left: 0;
  width: 100vw;
  height: 110%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.blur-background .clone {
  transform: scale(5);
  filter: blur(3px) brightness(0.8);
  transform-origin: top center;
}

.content-wrapper {
  position: relative;
  width: 375px;
  margin: 0 auto;
  z-index: 1;
}

.night .clone {
  filter: brightness(0.2) blur(5px);
}

/* ------------------- BOUTON MODE JOUR NUIT ------------------- */

.darkMode {
  position: fixed;
  padding: 5px;
  top: 20px;
  left: 20px;
  width: 75px;
  height: 60px;
  z-index: 12;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.sun,
.moon {
  width: 50px;
  height: 50px;
  position: absolute;
  transition: transform 0.6s ease-out;
}

.sun {
  clip-path: polygon(
    100% 50%,
    90.57% 60.87%,
    93.3% 75%,
    79.7% 79.7%,
    75% 93.3%,
    60.87% 90.57%,
    50% 100%,
    39.13% 90.57%,
    25% 93.3%,
    20.3% 79.7%,
    6.7% 75%,
    9.43% 60.87%,
    0% 50%,
    9.43% 39.13%,
    6.7% 25%,
    20.3% 20.3%,
    25% 6.7%,
    39.13% 9.43%,
    50% 0%,
    60.87% 9.43%,
    75% 6.7%,
    79.7% 20.3%,
    93.3% 25%,
    90.57% 39.13%
  );
  background: #ffd700;
}

.moon {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 15px 0 0 0 rgb(241, 179, 8);
}

.sunWrapper,
.moonWrapper {
  filter: drop-shadow(12px 12px rgba(0, 0, 0, 0.3));
  position: absolute;
}

.sunRope,
.moonRope {
  content: "";
  position: absolute;
  top: -65px; /* hauteur de la corde */
  width: 2px; /* épaisseur de la corde */
  height: 75px;
  background-color: white;
  animation: bounceDown 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  transform: translateY(0); /* revenir en position d'origine */
  z-index: 0;
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 2px,
    #ccc 2px,
    #ccc 4px
  );
  box-shadow: 12px 12px rgba(0, 0, 0, 0.3);
}

.sunRope {
  left: 29px;
}

.moonRope {
  left: 50px;
}

.noSunRope,
.noMoonRope,
.noSun,
.noMoon {
  animation: bounceUp 0.6s cubic-bezier(0.55, 0.05, 0.67, 0.19) forwards;
  transform: translateY(-200px); /* pour rester en position finale */
}

.sunRope:not(.noSunRope),
.moonRope:not(.noMoonRope),
.sun:not(.noSun),
.moon:not(.noMoon) {
  animation: bounceDown 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  transform: translateY(0); /* revenir en position d'origine */
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

@keyframes bounceDown {
  0% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-200px);
  }
  60% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ------------- BOUTON DEMARRAGE ------------- */

.start {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border: 2px solid var(--gold);
  padding: 20px 50px;
  background-image: url(../img/wood_texture.png);
  z-index: 12;
  cursor: pointer;
}

/* ------- BOUTON VOLUME ---------------- */
.speaker {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 12;
  filter: drop-shadow(12px 12px rgba(0, 0, 0, 0.3));
}

.soundOn {
  background-image: url("../img/speaker.svg");
}

.soundOff {
  background-image: url("../img/speaker-off.svg");
}

/* ------------------------------------ MENU ------------------------------- */

.containerMenuWrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
  pointer-events: none;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.6s ease-out;
}

.menu {
  height: 50vh;
  width: 70vw;
  max-width: calc(0.7 * 500px);
  border: 2px solid var(--gold);
  background: url(../img/wood_texture.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.3);
  pointer-events: all;
  padding: 5vh 0 0;
}

.ribbon {
  width: 15%;
  margin-right: 20px;
  filter: drop-shadow(12px 12px rgba(0, 0, 0, 0.3));
  pointer-events: all;
  cursor: pointer;
}

.containerMenuOpen {
  animation: bounceDownMenu 0.6s cubic-bezier(0.55, 0.05, 0.67, 0.19) forwards;
  transform: translateY(-52vh); /* pour rester en position finale */
}

.containerMenu:not(.containerMenuOpen) {
  animation: bounceUpMenu 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  transform: translateY(0); /* revenir en position d'origine */
}

@keyframes bounceUpMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-52vh);
  }
}

@keyframes bounceDownMenu {
  0% {
    transform: translateY(-52vh);
  }
  60% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-locked {
  overscroll-behavior: none;
}

/* ----------------------------------- DECORS ------------------------------ */
.indexHeader {
  position: relative; /* important pour contenir le ::after */
  background-image: url(../img/BG_header.jpg);
  width: 100vw;
  max-width: 500px;
  max-height: calc(500px * 2.6943);
  height: 269.43vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.indexMain {
  position: relative; /* important pour contenir le ::after */
  background-image: url(../img/BG_main.jpg);
  width: 100vw;
  max-width: 500px;
  height: calc(100vw * 2.706 * 15);
  max-height: calc((500px * 2.706) * 15);
  background-repeat: repeat-y;
  background-size: contain;
  background-position-x: center;
  margin: 0 auto;
}

.indexFooter {
  position: relative; /* important pour contenir le ::after */
  background-image: url(../img/BG_footer.jpg);
  width: 100vw;
  max-width: 500px;
  height: calc(100vw * 2.706);
  max-height: calc(500px * 2.706);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin: 0 auto 0;
}

.indexHeader::after,
.indexMain::after,
.indexFooter::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  z-index: 0;
}

.night::after {
  background: rgba(13, 3, 54, 0.6); /* teinte sombre pour mode nuit */
  z-index: 10;
}

.indexFooter img {
  position: relative;
  width: 29vw;
  max-width: 150px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -84.5%;
  z-index: 9;
}

.train {
  width: 11vw;
  max-width: 54px;
  height: auto;
  position: fixed;
  top: 130px;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  z-index: 8;
  transition: top 1s ease-in;
  margin: 0;
  padding: 0;
  vertical-align: top;
  will-change: transform;
}

.cloud {
  position: fixed;
  top: 50vh;
  width: 150px;
  height: auto;
  scale: 0;
  z-index: 9;
}

.cloudHappenLeft {
  animation: cloudLeft 5s forwards;
}

.cloudHappenRight {
  animation: cloudRight 5s forwards;
}

@keyframes cloudLeft {
  0% {
    scale: 0.2;
    top: 60vh;
    left: 35vw;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  100% {
    scale: 1;
    opacity: 0;
    top: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}

@keyframes cloudRight {
  0% {
    scale: 0.2;
    top: 60vh;
    left: 35vw;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    left: 38vw;
    transform: translate(-50%, -50%);
  }
  100% {
    scale: 1;
    opacity: 0;
    top: 20vh;
    left: 38vw;
    transform: translate(-50%, -50%);
  }
}

/* ------------ BOITE DE DIALOGUE ------------- */

.textBox {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--gold);
  box-shadow: 12px 12px rgba(0, 0, 0, 0.3);
  background: url(../img/wood_texture.png);
  background-size: cover;
  width: 98vw;
  max-width: 490px;
  height: 15vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: -20vh;
  /* transition: bottom 1s ease; */
  z-index: 12;
}

.showTextBox {
  animation: bounceIn 0.6s forwards;
}

@keyframes bounceIn {
  0% {
    bottom: -20vh;
  }
  40% {
    bottom: 5vh; /* La boîte "saute" légèrement au-dessus de la position finale */
  }
  60% {
    bottom: -2vh; /* Rebond léger en dessous */
  }
  80% {
    bottom: 0; /* Pratiquement à la position finale */
  }
  100% {
    bottom: 1vh;
  }
}

.closeTextBox {
  animation: bounceOut 0.6s forwards;
}

@keyframes bounceOut {
  0% {
    bottom: 1vh;
  }
  40% {
    bottom: 10vh; /* La boîte "saute" légèrement au-dessus de la position finale */
  }
  100% {
    bottom: -20vh;
  }
}

.portrait {
  width: auto;
  border: 2px solid var(--gold);
  margin: 1%;
}

#paragraph {
  font-family: retroFont;
  font-weight: bold;
  /* font-size: 1vh; */
  font-size: 1.8vw;
  line-height: 1.6vh;
  color: beige;
  margin: 2% 1%;
}

/* ------------------- PAGE MENTIONS LEGALES -------------------- */

.mainLegals {
  background: url(../img/wood_texture.png);
  background-size: contain;
  padding: 15vh 0 5vh 0;
}

.mainLegals h1 {
  color: var(--gold);
  font-family: Ravenwood;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 0;
}

.mainLegals h2 {
  color: var(--gold);
  font-family: Ravenwood;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  text-align: left;
  margin: 5vh 5vw;
  /* margin-top: 0; */
  white-space: normal;
}

.mainLegals p {
  margin-bottom: 2vh;
}

.mainLegals p,
.mainLegals ul,
.mainLegals li {
  font-family: retroFont;
  font-size: 1rem;
  color: beige;
  margin: 5vh 5vw;
  line-height: 2vh;
  font-weight: bolder;
}

.mainLegals a {
  /* font-size: 2.5rem; */
  color: var(--gold);
}

/* ---------- RESPONSIVE -------------- */

@media screen and (min-width: 420px) {
  #paragraph {
    font-size: 1rem;
  }

  .train {
    top: 155px;
    left: calc(50% - 3px);
  }
}

@media screen and (min-width: 500px) {
  .darkMode {
    left: calc(50vw - 230px);
  }

  .speaker {
    right: 10px;
    right: calc(50vw - 240px);
  }

  .cloud {
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  @keyframes cloudLeft {
    0% {
      scale: 0.2;
      top: 60vh;
      left: 46vw;
    }
    50% {
      opacity: 1;
      left: 45vw;
    }
    100% {
      scale: 1;
      top: 35vh;

      opacity: 0;
    }
  }

  @keyframes cloudRight {
    0% {
      scale: 0.2;
      top: 60vh;
      left: 46vw;
    }
    50% {
      opacity: 1;
      left: 50vw;
    }
    100% {
      scale: 1;
      top: 30vh;
      left: 46vw;
      opacity: 0;
    }
  }
}
